* {
    margin: 0;
    padding: 0;
    font-family: "Azeret Mono", serif;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 90%;
    margin: 10px auto;
    color: #0D1321;
}

#nav-head {
    font-weight: 800;
    font-size: 28px;
    text-align: left;
}

#nav-btn {
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    border: 1px solid;
    border-radius: 8px;
    padding: 10px 25px;
}

#banner-bg {
    background-image: url(../images/background/Hero-bg.png);
    background-repeat: no-repeat;
    margin-top: 30px;
    background-size: auto;
    border: 1px dashed black;
    border-left: none;
    border-right: none;
}

#banner-img {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

#banner-details {
    text-align: center;
}

#banner-title {
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    width: 998px;
    text-align: center;
    margin: 24px auto;
    color: #0D1321;
}

#banner-des {
    width: 852px;
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #0D1321;
    opacity: 0.7;
}

#banner-btn {
    font-weight: 600;
    font-size: 20px;
    color: white;
    background-color: #0D1321;
    border-radius: 8px;
    padding: 21px 24px 21px 24px;
    margin: 32px 0;
}

#web-dev {
    width: 1140px;
    border-radius: 16px;
    background-color: #0D132105;
    margin: 50px auto;
    padding-bottom: 50px;
}

#web-title , #ins-title {
    font-size: 24px;
    font-weight: 800;
    line-height: 37px;
    text-align: center;
    color: #0D1321;
    padding-top: 50px;
}

#web-title-des, #ins-details {
    color: #0D1321;
    opacity: 0.7;
    line-height: 26px;
    text-align: center;
    width: 852px;
    margin: 20px auto;
}

#web-details {
    border-radius: 16px;
    width: 946px;
    margin: 50px auto;
    background-color: aliceblue;
}

#web-dev-banner1{
    display: flex;
    gap: 80px;
    padding: 48px;
}

.web-dev-banner1-title{
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    color: #0D1323;
    opacity: 0.7;
    width: 390px;
}

.web-dev-banner1-des{
    margin-top: 15px;
    color: #0D1321;
    opacity: 0.7;
    line-height: 26px;
    width: 468px;
}

.web-dev-banner1-btn{
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    color: #0D1321;
    margin-top: 20px;
    padding: 8px 16px;
    opacity: 0.9;
}

/* .web-details-img{
    width: auto;
} */

#web-details2{
    border-radius: 16px;
    margin: 32px 0px;
    width: 946px;
    margin: 50px auto;
}

#web-dev-banner2-title{
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    color: #0D1323;
    opacity: 0.7;
    width: 477px;
}

#ins-video{
    border: 1px solid #0D132333;
    margin-top: 30px;
    border-radius: 15px;
    width: 1140px;
    height: 590px;
    margin: 0 auto;
}

#ins-video > iframe{
    border: none;
    border-radius: 15px;
    width: 1090px;
    height: 550px;
    margin: 20px auto;
    display: flex;
}